body {
	background: url(images/git_background.jpg) no-repeat;
	background-size: cover;
}

.card {
	width: 380px;
	height: 400px;
	margin-top: 120px
}

.card-text {
	font-size: 13px;
	margin-left: 20px;
	margin-top: 17px; 
}

.text {
	margin-left: 20px;
	margin-top: 6px;
	height: 27px;
	width: 340px;
	border: none;
	border: solid 1px;
	border-color: #ccccc3;
	border-radius: 6px;
}

.SubmitButton {
	margin-top: 14px;
	width: 240px;
	height: 30px;
	border: none;
	border: solid 1px;
	border-color: #00983d;
	border-radius: 6px;
	background-color: #00a54a;
	color: white;
	font-size: 13px;
	font-weight: bold;
}