.mainbody {
    background-color: #FFDAB9;
}

.card {
    margin: 50px;
}

.card-top {
    margin: 10px;
    text-align: center;
}

.card-top-text-content {
    margin-top: 12px;
}

img {
    border-radius: 50%;
}