.task {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin-left: -5px;
	margin-top: 0px;
	margin-bottom: 20px
}

.task-danger {
    border-left-color: #d9534f;
}

.task-success {
    border-left-color: #5cb85c;
}

.task-warning {
    border-left-color: #f0ad4e;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

p:last-child {
    margin-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}