.SurveyForm{
    background: #ff8c00;
    border-color: #ff4500;
    border-style: solid;
    padding: 5px;
    border-radius: 20px;
}

body{
	background-color: #ffd700;
}

legend{
    color: #000000;
}

label{
    display: inline-block;
    color: #000000;
    line-height: 1.5;
}

input{
    display: inline-block;
}

.MainTable{
    width:100%;
    letter-spacing:0;
    padding-top:5;
}
.LeftTable{
    width: 200px;
	box-align: top;
}

.RightTable{
    box-align: top;
}

.SubmitButton{
    background: #ff7f50;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-color: #ff6347;
    border-style: solid;
	padding: 5px
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}